.ms_container-lg{
  margin: 0 auto;
  max-width: 1809px;
  padding: 0 12px;
}
.ms_container-md{
  margin: 0 auto;
  max-width: 1344px;
  padding: 0 12px;
}

// cancellare
.p-container{
  padding: 50px 80px;
}
